{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{message}}
  </div>
{{/if}}
<h1> New Auction </h1>
<form method="POST" style="max-width: 500px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
<h3>Please enter the information</h3>
  <div class="form-group">
    <label>Pokemon to trade:</label>
    <input type="text" name="sell" class="form-control">
  </div>
  <div class="form-group">
    <label>CP of Pokemon for trade:</label>
    <input type="number" name="sellcp" class="form-control">
  </div>
  <div class="form-group">
    <label>Pokemon mainly looking for (Optional):</label>
    <input type="text" name="buy" class="form-control">
  </div>
  <div class="form-group">
    <label>Minimal CP (Optional):</label>
    <input type="number" name="buycp" class="form-control">
  </div>
    <div class="form-group">
    <label>Description (Optional):</label>
    <textarea maxlength="250" style="height: 100px" name="description" class="form-control"> </textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Post</button>
    <a href="/" class="btn btn-primary">Back</a>
  </div>
</form>
