{{#if error}}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
{{/if}}
<div>
<h3> Your listed auctions</h3>
<div class="auctions">
{{# each list }}
<div class="single-trade">
  I want to trade {{this.sellerPokemon}}
  for {{this.buyerPokemon}}
  How about what is {{this}}
</div>
{{/each}}
</div>
<div class="new">
  <div class="form-group">
    <a href="/auctions/new" class="btn btn-primary">Create a new auction</a>
  </div>
</div>
<div class="form-group">
  <a href="/" class="btn btn-primary">Back to Home</a>
</div>
</div>
